
## <summary>policy for lyokocoin</summary>


########################################
## <summary>
##	Transition to lyokocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lyokocoin_domtrans',`
	gen_require(`
		type lyokocoin_t, lyokocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lyokocoin_exec_t, lyokocoin_t)
')


########################################
## <summary>
##	Execute lyokocoin server in the lyokocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lyokocoin_initrc_domtrans',`
	gen_require(`
		type lyokocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lyokocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search lyokocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lyokocoin_search_lib',`
	gen_require(`
		type lyokocoin_var_lib_t;
	')

	allow $1 lyokocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read lyokocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lyokocoin_read_lib_files',`
	gen_require(`
		type lyokocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lyokocoin_var_lib_t, lyokocoin_var_lib_t)
')

########################################
## <summary>
##	Manage lyokocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lyokocoin_manage_lib_files',`
	gen_require(`
		type lyokocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lyokocoin_var_lib_t, lyokocoin_var_lib_t)
')

########################################
## <summary>
##	Manage lyokocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lyokocoin_manage_lib_dirs',`
	gen_require(`
		type lyokocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lyokocoin_var_lib_t, lyokocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an lyokocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lyokocoin_admin',`
	gen_require(`
		type lyokocoin_t;
		type lyokocoin_initrc_exec_t;
		type lyokocoin_var_lib_t;
	')

	allow $1 lyokocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, lyokocoin_t)

	lyokocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lyokocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lyokocoin_var_lib_t)

')

